<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.coalert">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Autehntification.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coalert_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bignerdranch.android.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!-- android:name=".Autehntification.GlobalApplication" -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity">

        </activity>
        <activity android:name=".Activity.AccessAuthorizationActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.EmailSignUpActivity" >

        </activity>
        <activity android:name=".Loading.Loading1Activity" />
        <activity android:name=".Activity.EditprofileActivity" />
        <activity
            android:name=".Popup.BreakPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.AnotherprofileActivity" />
        <activity android:name=".Activity.CommonSignUpActivity" />
        <activity android:name=".Activity.WishListActivity" />
        <activity android:name=".Activity.CosmeticInformationActivity" />
        <activity android:name=".Activity.ExplanationBadElementActivity" />
        <activity android:name=".Activity.CosmeticIngredientActivity" />
        <activity android:name=".Activity.FollowingListActivity" />
        <activity android:name=".Activity.WriteReviewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.WhatSelectKindCosmetic" />
        <activity android:name=".Activity.recommendCosmeticShow"></activity>
    </application>

</manifest>